appname               = fnmusic-ext
version               = @VERSION@
display_name          = fnMusic 音源扩展
desc                  = 飞牛音乐第三方音源扩展：提供 musicdl、网易云、洛雪搜索播放，增加网易云发现歌单与私人 FM，按飞牛用户听歌历史和收藏优化每日推荐，内置管理页。
platform              = all
source                = thirdparty
maintainer            = Surc
maintainer_url        = https://github.com/Surc/fnos_music_ext
os_min_version        = 1.2.0
install_dep_apps      = trim.music
desktop_uidir         = ui
desktop_applaunchname = fnmusic-ext.main
checkport             = false
micro_app             = true
